/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}

/* Header */
.menù{
    height: 120px;
    background-color: #E579E6;
    margin-top: 30px;
}

.first_content{
    height: 450px;
    background-color: #E1D67A;
    margin-top: 30px;
}

.second_content{
    height: 650px;
    background-color: #0088F7;
    margin-top: 30px;
}

.end_page{
    height: 60px;
    background-color: #8801FE;
    margin-top: 15px;
}